@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "./scss/reset.scss";
@import "./scss/variable.scss";
@import "./scss/accordion.scss";
@import "./scss/badge.scss";
@import "./scss/button.scss";
@import "./scss/card.scss";
@import "./scss/color.scss";
@import "./scss/form.scss";
@import "./scss/list.scss";
@import "./scss/table.scss";
@import "./scss/tooltip.scss";

html,
body {
  @include background;

  max-width: 100%;
  overflow-x: hidden;
}

body * {
  @include fontsize;
  font-family: "Poppins", sans-serif;
  color: rgb(var(--contentPrimary));
}

[disabled] {
  opacity: 0.5 !important;
  pointer-events: none !important;
}

hr {
  width: 100%;
  border-color: rgb(var(--borderSecondary));
}

hr.vertical {
  display: inline;
  width: 1px;
  height: 100%;
  border-left: 1px solid rgb(var(--borderSecondary));
}

a {
  cursor: pointer;
}

// group row
.group-row {
  display: flex;
}
.group-row > .group-item,
.group-row > *[class*="item"] {
  @include roundedCornersX;
  border-radius: 0px;
}

.group-row > .group-item + .group-item,
.group-row > *[class*="item"] + *[class*="item"] {
  border-left: none;
}

// group column
.group-col {
  display: flex;
  flex-direction: column;
}

.group-col > .group-item,
.group-col > *[class*="item"] {
  @include roundedCornersY;
  border-radius: 0px;
}

.group-col > .group-item + .group-item,
.group-col > *[class*="item"] + *[class*="item"] {
  border-top: none;
}

.group-responsive {
  display: flex;

  @media (min-width: 1024px) {
    & > .group-item,
    & > *[class*="item"] {
      @include roundedCornersX;
      border-radius: 0px;
    }

    & > .group-item + .group-item,
    & > *[class*="item"] + *[class*="item"] {
      border-left: none;
    }
  }

  @media (max-width: 1023px) {
    flex-direction: column;

    & > .group-item,
    & > *[class*="item"] {
      @include roundedCornersY;
      border-radius: 0px;
    }

    & > .group-item + .group-item,
    & > *[class*="item"] + *[class*="item"] {
      border-top: none;
    }
  }
}

// rounded
.rounded {
  border-radius: var(--rounded);
}
.rounded-full {
  border-radius: var(--roundedFull);
}

// darkmode
.dark * {
  color-scheme: dark;
}
