@use "./scss/global" as *;

@use "./scss/accordion.scss";
@use "./scss/badge.scss";
@use "./scss/button.scss";
@use "./scss/card.scss";
@use "./scss/dropdown.scss";
@use "./scss/form.scss";
@use "./scss/list.scss";
@use "./scss/modal.scss";
@use "./scss/table.scss";
@use "./scss/timeline.scss";
@use "./scss/tooltip.scss";

@use "./scss/float.scss";
@use "./scss/spacing.scss";
@use "./scss/color.scss";
@use "./scss/group.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html,
body {
  @include background;

  max-width: 100%;
}

body * {
  @include fontsize;
  @include content;
  font-family: "Poppins", sans-serif;
}

[disabled] {
  opacity: 0.5 !important;
  pointer-events: none !important;
}

[disabled] [disabled] {
  opacity: 1 !important;
}

hr {
  width: 100%;
  border-color: rgb(var(--borderSecondary));
}

hr.vertical {
  display: inline;
  width: 1px;
  height: 100%;
  border-left: 1px solid rgb(var(--borderSecondary));
}

a {
  cursor: pointer;
}

// rounded
.rounded {
  border-radius: var(--rounded);
}
.rounded-full {
  border-radius: var(--roundedFull);
}

// overflow
.overflow-hidden {
  overflow: hidden;
}

// darkmode
.dark * {
  color-scheme: dark;
}
