.accordion > .accordion-item {
  @include background;
  
  position: relative;
}

.accordion > .accordion-item > summary {
  cursor: pointer;
  list-style: none;
}

.accordion > .accordion-item > summary::before {
  content: "";
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3E%3Cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  position: absolute;
  right: 1rem;
  margin-top: 2px;
  width: 1rem;
  background-color: currentColor;
  aspect-ratio: 1;
}

.accordion > .accordion-item > summary:has(.accordion-icon)::before {
  content: none;
}

.accordion > .accordion-item > summary > .accordion-icon {
  position: absolute;
  right: 1rem;
}

.accordion > .accordion-item > summary,
.accordion > .accordion-item > article {
  padding: var(--spacingMD);
  padding-left: 1rem;
  padding-right: 1rem;
}

.accordion-aligned > .accordion-item > article:has(> .accordion) {
  padding-right: 0;
}

.accordion-bordered > .accordion-item {
  @include border;
}

.accordion-accented > .accordion-item[open] {
  background-color: rgb(var(--backgroundSecondary));
}
