@use "sass:map";
@use "./global" as *;

.badge {
  @include rounded;

  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid transparent;
  font-size: var(--fontXS);
  outline: none;
  padding: 2px 7px;
}
