.btn {
  background-color: transparent;
  border-radius: var(--rounded);
  border: 1px solid transparent;
  cursor: pointer;
  font-size: var(--fontSM);
  outline: none;
  padding: var(--spacingSM);
  user-select: none;
  white-space: nowrap;
}

// sizes
@each $size in $sizes {
  .btn-#{to-lower-case($size)} {
    font-size: var(--font#{$size});
    padding: var(--spacing#{$size});
  }
}

// styles
@each $state in $states {
  // solid
  .btn-solid-#{$state} {
    background-color: rgb(map-get($states-colors, $state));
    color: rgb(var(--contentPrimaryDark));

    &:hover {
      background-color: rgb(map-get($states-colors, #{$state}Dark));
    }
  }

  // outline
  .btn-outline-#{$state} {
    background-color: transparent;
    border-color: rgb(map-get($states-colors, $state));
    color: rgb(map-get($states-colors, $state)) !important;

    &:hover {
      background-color: rgba(map-get($states-colors, $state), 0.05);
    }
  }
  .dark .btn-outline-#{$state}:hover {
    background-color: rgba(map-get($states-colors, $state), 0.1);
  }

  // soft
  .btn-soft-#{$state} {
    background-color: rgba(map-get($states-colors, $state), 0.1);
    color: rgb(map-get($states-colors, $state)) !important;
    &:hover {
      background-color: rgba(map-get($states-colors, $state), 0.2);
    }
  }
  .dark .btn-soft-#{$state} {
    background-color: rgba(map-get($states-colors, $state), 0.2);
    &:hover {
      background-color: rgba(map-get($states-colors, $state), 0.3);
    }
  }

  // link
  .btn-link-#{$state} {
    color: rgb(map-get($states-colors, $state)) !important;

    &:hover {
      color: rgb(map-get($states-colors, #{$state}Dark)) !important;
      text-decoration: underline;
      text-underline-offset: 0.3rem;
    }
  }

  // ghost
  .btn-ghost-#{$state} {
    color: rgb(map-get($states-colors, $state)) !important;

    &:hover {
      background-color: rgba(map-get($states-colors, $state), 0.1);
    }
  }
  .dark .btn-ghost-#{$state}:hover {
    background-color: rgba(map-get($states-colors, $state), 0.2);
  }
}

// exceptions
.btn-white {
  background: rgb(var(--backgroundPrimary));
  border-color: rgb(var(--borderSecondary));
}

.dark .btn-white {
  background: rgb(var(--backgroundPrimaryDark));
  border-color: rgb(var(--borderSecondaryDark));
}

.btn-black {
  background: rgb(var(--backgroundPrimaryDark));
  color: rgb(var(--contentPrimaryDark));

  &:hover {
    background: rgba(var(--backgroundPrimaryDark), 0.8);
  }
}

.dark .btn-black {
  background: rgb(var(--backgroundPrimary));
  color: rgb(var(--contentPrimary));

  &:hover {
    background: rgba(var(--backgroundPrimary), 0.8);
  }
}
