.btn {
  @include rounded;
  @include padding;
  @include fontsize;

  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  user-select: none;
  white-space: nowrap;
}

// sizes
// @each $size in $sizes {
//   .btn-#{to-lower-case($size)} {
//     font-size: var(--font#{$size});
//     padding: var(--spacing#{$size});
//   }
// }

// styles
@each $state in $states {
  // solid
  .btn-solid-#{$state} {
    background-color: rgb(map-get($states-colors, $state));
    color: white;

    &:hover {
      background-color: rgb(map-get($states-colors, #{$state}Dark));
    }
  }

  // outline
  .btn-outline-#{$state} {
    background-color: transparent;
    border-color: rgb(map-get($states-colors, $state));
    color: rgb(map-get($states-colors, $state));

    &:hover {
      background-color: rgba(map-get($states-colors, $state), 0.05);
    }
  }
  .dark .btn-outline-#{$state}:hover {
    background-color: rgba(map-get($states-colors, $state), 0.1);
  }

  // link
  .btn-link-#{$state} {
    color: rgb(map-get($states-colors, $state));

    &:hover {
      color: rgb(map-get($states-colors, #{$state}Dark));
      text-decoration: underline;
      text-underline-offset: 0.3rem;
    }
  }
}

// white
.btn-white {
  background: rgb(var(--backgroundPrimary));
  border-color: rgb(var(--borderSecondary));

  &:hover {
    background: rgba(var(--contentPrimary), 0.05);
  }
}

.dark .btn-white:hover {
  background: rgba(var(--contentPrimary), 0.1);
}

// black
.btn-black {
  background: rgb(var(--contentPrimary));
  color: rgb(var(--backgroundPrimary));

  &:hover {
    background: rgba(var(--contentPrimary), 0.8);
  }
}

.dark .btn-black:hover {
  background: rgba(var(--contentPrimary), 0.9);
}
