@use "sass:map";
@use "./global" as *;

.btn {
  @include rounded;
  @include fontsize;

  padding: var(--spacingMD);
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}
