.card {
  @include border;

  background-color: rgb(var(--backgroundPrimary));
  border-radius: calc(var(--rounded) * 1.5);
  overflow: hidden;
}

.card-content {
  padding: 1rem;
}

.card-header {
  padding: 0.625rem 1rem;
}
