@use "./global" as *;

.card {
  @include border;

  border-radius: calc(var(--rounded) * 1.5);
  overflow: hidden;
}

.card-content {
  padding: 1rem;
}

.card-header {
  padding: var(--spacingMD);
}
