// core
// background
.bg-primary {
  background-color: rgb(var(--backgroundPrimary));
}
.bg-secondary {
  background-color: rgb(var(--backgroundSecondary));
}
.bg-tertiary {
  background-color: rgb(var(--backgroundTertiary));
}

// contents
.text-primary {
  color: rgb(var(--contentPrimary));
}
.text-secondary {
  color: rgb(var(--contentSecondary));
}

// borders
.border-primary {
  border-color: rgb(var(--borderPrimary));
}
.border-secondary {
  border-color: rgb(var(--borderSecondary));
}
