// core
// background
.bg-primary {
  background-color: rgb(var(--backgroundPrimary));
}
.bg-secondary {
  background-color: rgb(var(--backgroundSecondary));
}
.bg-tertiary {
  background-color: rgb(var(--backgroundTertiary));
}
.bg-success {
  background-color: rgb(var(--green500));
}
.bg-error {
  background-color: rgb(var(--red500));
}
.bg-warn {
  background-color: rgb(var(--amber500));
}

// contents
.text-primary {
  color: rgb(var(--contentPrimary));
}
.text-secondary {
  color: rgb(var(--contentSecondary));
}
.text-success {
  color: rgb(var(--green500));
}
.text-error {
  color: rgb(var(--red500));
}
.text-warn {
  color: rgb(var(--amber500));
}

// borders
.border-primary {
  border-color: rgb(var(--borderPrimary));
}
.border-secondary {
  border-color: rgb(var(--borderSecondary));
}
.border-success {
  border-color: rgb(var(--green500));
}
.border-error {
  border-color: rgb(var(--red500));
}
.border-warn {
  border-color: rgb(var(--amber500));
}
