.timeline {
  position: relative;
  font-size: var(--fontSM);
  color: rgb(var(--contentPrimary));
}

.checkpoint {
  display: flex;
  width: 100%;
  min-height: 50px;
  position: relative;
}

.timeline.group-row .checkpoint {
  flex-direction: column;
}

.checkpoint::before {
  content: "";

  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  border-left: 1px solid rgb(var(--borderSecondary));
}

.timeline .checkpoint:last-child::before {
  display: none;
}

.timeline.group-row .checkpoint::before {
  width: 100%;
  height: 1px;
  border-top: 1px solid rgb(var(--borderSecondary));
}

.checkpoint > *:not(.checkpoint-icon) {
  flex: 1;
  padding: 0.5rem;
}

.timeline.group-row .checkpoint > *:not(.checkpoint-icon) {
  margin-left: -1rem;
}

.checkpoint-icon {
  width: var(--checkpoint-icon-width);
  height: var(--checkpoint-icon-width);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--fontXS);
  background-color: rgb(var(--backgroundPrimary));

  border: 1px solid transparent;
  border-radius: var(--roundedFull);

  margin-left: calc(var(--checkpoint-icon-width) / 2 * -1);
  z-index: 1;
}

.timeline.group-row .checkpoint-icon {
  margin-top: calc(var(--checkpoint-icon-width) / 2 * -1);
}

@each $state in $states {
  .checkpoint-solid-#{$state} .checkpoint-icon {
    background-color: rgb(map-get($states-colors, $state));
    color: white;
  }
  .checkpoint-outline-#{$state} .checkpoint-icon {
    border-color: rgb(map-get($states-colors, $state));
    color: rgb(map-get($states-colors, $state));
  }
  .checkpoint-link-#{$state} .checkpoint-icon {
    color: rgb(map-get($states-colors, $state));
  }
}

.checkpoint-white .checkpoint-icon {
  background: rgb(var(--backgroundPrimary));
  border-color: rgb(var(--borderSecondary));
}

.checkpoint-black .checkpoint-icon {
  background: rgb(var(--contentPrimary));
  color: rgb(var(--backgroundPrimary));
}

// responsive
@media (min-width: 1024px) {
  .timeline.group-responsive {
    .checkpoint {
      flex-direction: column;
    }

    .checkpoint::before {
      width: 100%;
      height: 1px;
      border-top: 1px solid rgb(var(--borderSecondary));
    }

    .checkpoint > *:not(.checkpoint-icon) {
      margin-left: -1rem;
    }

    .checkpoint-icon {
      margin-top: calc(var(--checkpoint-icon-width) / 2 * -1);
    }
  }
}
