.tooltip {
  position: relative;
  z-index: 2 !important;
}

.tooltip:hover::before {
  display: block;
}

.tooltip::before {
  content: attr(tooltip);

  @include rounded;
  @include border;
  @include background;

  display: none;
  text-align: center;
  width: fit-content;
  max-width: 200px;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;

  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, calc(-100% - var(--tooltip-margin)));

  font-size: var(--fontXS);
  padding: var(--spacingXS);
  pointer-events: none;
}

.tooltip-left::before {
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - var(--tooltip-margin)), -50%);
}

.tooltip-right::before {
  left: auto;
  top: 50%;
  right: 0;
  transform: translate(calc(100% + var(--tooltip-margin)), -50%);
}

.tooltip-bottom::before {
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + var(--tooltip-margin)));
}

.tooltip-black::before {
  background: rgb(var(--contentPrimary));
  color: rgb(var(--backgroundPrimary));
}
