.tooltip {
  position: relative;
}

.tooltip:hover::before {
  display: block;
}

.tooltip::before {
  content: attr(tooltip);

  @include rounded;
  @include border;
  @include background;

  display: none;
  text-align: center;
  width: fit-content;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: none;
  font-size: var(--fontXS);
  padding: var(--spacingXS);
  pointer-events: none;
  z-index: 2;
}

.tooltip-black::before {
  background: rgb(var(--contentPrimary));
  color: rgb(var(--backgroundPrimary));
}
