:root {
  --theme50: 240, 250, 255;
  --theme100: 223, 244, 255;
  --theme200: 184, 235, 255;
  --theme300: 121, 220, 255;
  --theme400: 52, 204, 254;
  --theme500: 7, 182, 240;
  --theme600: 0, 146, 205;
  --theme700: 0, 116, 166;
  --theme800: 3, 98, 137;
  --theme900: 9, 81, 113;
  --theme950: 6, 51, 75;

  --gray50: 249, 250, 251;
  --gray100: 243, 244, 246;
  --gray200: 229, 231, 235;
  --gray300: 209, 213, 219;
  --gray400: 156, 163, 175;
  --gray500: 107, 114, 128;
  --gray600: 75, 85, 99;
  --gray700: 55, 65, 81;
  --gray800: 31, 41, 55;
  --gray900: 17, 24, 39;
  --gray950: 3, 7, 18;

  --red50: 254, 242, 242;
  --red100: 254, 226, 226;
  --red200: 254, 202, 202;
  --red300: 252, 165, 165;
  --red400: 248, 113, 113;
  --red500: 239, 68, 68;
  --red600: 220, 38, 38;
  --red700: 185, 28, 28;
  --red800: 153, 27, 27;
  --red900: 127, 29, 29;
  --red950: 69, 10, 10;

  --amber50: 255, 251, 235;
  --amber100: 254, 243, 199;
  --amber200: 253, 230, 138;
  --amber300: 252, 211, 77;
  --amber400: 251, 191, 36;
  --amber500: 245, 158, 11;
  --amber600: 217, 119, 6;
  --amber700: 180, 83, 9;
  --amber800: 146, 64, 14;
  --amber900: 120, 53, 15;
  --amber950: 69, 26, 3;

  --green50: 240, 253, 244;
  --green100: 220, 252, 231;
  --green200: 187, 247, 208;
  --green300: 134, 239, 172;
  --green400: 74, 222, 128;
  --green500: 34, 197, 94;
  --green600: 22, 163, 74;
  --green700: 21, 128, 61;
  --green800: 22, 101, 52;
  --green900: 20, 83, 45;
  --green950: 5, 46, 22;

  --backgroundPrimary: 255, 255, 255;
  --backgroundSecondary: var(--gray100);
  --backgroundTertiary: var(--gray200);

  --backgroundPrimaryDark: var(--gray950);
  --backgroundSecondaryDark: var(--gray900);
  --backgroundTertiaryDark: var(--gray800);

  --contentPrimary: 0, 0, 0;
  --contentSecondary: rgba(black, 0.5);
  --contentPrimaryDark: 255, 255, 255;
  --contentSecondaryDark: rgba(white, 0.5);

  --borderPrimary: var(--theme500);
  --borderSecondary: var(--gray300);

  --borderPrimaryDark: var(--theme500);
  --borderSecondaryDark: var(--gray700);

  --spacingXS: 0.3rem 0.6rem;
  --spacingSM: 0.4rem 0.8rem;
  --spacingMD: 0.6rem 1.2rem;
  --spacingLG: 0.8rem 1.6rem;
  --spacingXL: 1rem 2rem;

  --fontXS: 0.75rem; // 12px
  --fontSM: 0.875rem; // 14px
  --fontMD: 1rem; // 16px
  --fontLG: 1.125rem; // 18px
  --fontXL: 1.25rem; // 20px

  --rounded: 0.375rem;
}

$states-colors: (
  primaryLight: var(--theme400),
  primary: var(--theme500),
  primaryDark: var(--theme600),
  secondaryLight: var(--gray400),
  secondary: var(--gray500),
  secondaryDark: var(--gray600),
  successLight: var(--green400),
  success: var(--green500),
  successDark: var(--green600),
  errorLight: var(--red400),
  error: var(--red500),
  errorDark: var(--red600),
  warnLight: var(--amber400),
  warn: var(--amber500),
  warnDark: var(--amber600),
);

$states: primary, secondary, success, error, warn;

$sizes: XS, SM, MD, LG, XL;
